<div class="container px-5 px-sm-0">
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のerror発生しました %>
  <% @book.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>
  <p class="notice"><%= notice %></p>
  <div class="row">
    <div class= "col-md-3">
      <%= render 'books/profile', user: @user %>
      <%= render 'books/newbook', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table width="100%">
         <tr class= "bordery">
           <th height="40">image</th>
           <th>name</th>
           <th></th>
         </tr>
         <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user_path(user) do %>
                <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg",size:'40x40' %>
              <% end %>
            </td>
            <td height="40" class="m-1"><%= user.name  %></td>
            <td  height="40" class="m-1"><%= link_to "Show" , user_path(user) ,class:"m-1" %></td>
          </tr>
         <% end %>
      </table>
    </div>
  </div>
</div>
